

.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:80px;
   width:100%;
   background-color: black;
   opacity: 0.9;
   color: white;
   font-size: 20px;
}
.name-footer{
  position: relative;
  left: -580px;
  top: 12px;
}
.name-profesion{
  position: relative;
  left: 550px;
  top: -60px;
}

.contacto {
  position: relative;
  left: 450px;
  top: 585px;
  position:fixed;
  font-size: 19px;
}
@media screen and (max-width:600px) {
  .name-profesion {
   display: none
  }
}
@media screen and (max-width:600px) {
  .name-footer {
  display: none
  }
}
@media screen and (max-width:600px) {
  .contacto {
    position: relative;
    left: -165px;
    top: 0px;
    font-size: 16px
  }
}
@media screen and (max-width:600px) {
  .mail {
    position: relative;
    left: -220px;
    top: 28px;

  }
}

.cardInfo {
  position: relative;
  left: -524px;
  top: -640px;
  background-color: black;
  display: flex;
  margin: 10px auto;
  width: 18%;
  padding: 2rem;
  border-radius: 3%;
  box-shadow: 10px 5px 5px black;
  opacity: 0.9;
  color: white;
  font-size: 20px;

}
@media screen and (max-width:600px) {
  .cardInfo {
    position: relative;
    left: 6px;
    top: 1020px;
    width: 60%;
    padding: 0.5rem;
  }
}

.enlaces{
  position: relative;
  left: 520px;
  top: -800px;
  background-color: black;
  display: flex;
  margin: 10px auto;
  width: 18%;
  padding: 2rem;
  border-radius: 3%;
  box-shadow: 10px 5px 5px black;
  opacity: 0.9;
  color: white;
  font-size: 5px;
}
@media screen and (max-width:600px) {
  .enlaces {
    position: relative;
    left: 8px;
    top: 1540px;
    background-color: black;
    width: 65%;
    padding: 1rem;
  }
}
@media screen and (max-width:600px) {
  .herr {
   font-size: 26px;
  }
}
.header {
  position: relative;
  top: 25px;
  background-color: black;
  display: flex;
  margin: 10px auto;
  width: 50%;
  padding: 2rem;
  border-radius: 3%;
  opacity: 0.9;
   color: white
}
@media screen and (max-width:600px) {
  .header {
  width: 55%;
  padding: 9.5rem;
  }
}
@media screen and (max-width:600px) {
  .profesion {
    position: relative;
    left: -250px;
    top: 155px;
  }
}
@media screen and (max-width:600px) {
  .name {
    position: relative;
    left: -75px;
    top: -150px;
  }
}
.About{
   position: relative;
   top: -128px;
   background-color: black;
   margin: 10px auto;
   width: 50%;
   padding: 2rem;
   border-radius: 3%;
   box-shadow: 10px 5px 5px black;
   opacity: 0.9;
    color: white
}
@media screen and (max-width:600px) {
  .About {
    position: relative;
    left: -4px;
    top: -115px;
    width: 57%;
  }
}

.div-foto{
  display: flex;
  left: 90%
}

.foto-perfil{
   width: 20%;
   border-radius: 60%;
   position: relative;
   left: 30px;
   top: -48px;
}
.foto-perfil-peq {
  width: 3%;
  border-radius: 60%;
  position: relative;
  left: 10px;
  top: -4px;
}
@media screen and (max-width:600px) {
  .div-foto {
    position: relative;
    left: 80px;
    top: -220px;
    width: 180%;
  }
}
.gif {
  width: 40%;
}
@media screen and (max-width:600px) {
  .gif {
    width: 100%;
  }
}
.descripcion{
   justify-content: center;
}

.skills{
   display: flex;
   flex-wrap: wrap;
   color: white
}

.skill{
   background-color: grey;
   margin: 0.3rem;
   padding: 0.8rem;
   border-radius: 6%;
   color: white
}
