/* About  */

.About{
   display: flex;
   background-color: black;
   margin: 10px auto;
   width: 50%;
   padding: 2rem;
   border-radius: 3%;
   box-shadow: 10px 5px 5px black;
   opacity: 0.9;
   color: white
}
@media screen and (max-width:770px) {
  .About {
    width: 300px;
    height: 1100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
    margin-top: 20px;

  }
}

.gif {
  width: 40%;
}
.descripcion{
   justify-content: center;
}

.skills{
   display: flex;
   flex-wrap: wrap;
   color: white
}
@media screen and (max-width:770px) {
  .gif {
    width: 100%;
  }
}

@media screen and (max-width:770px) {
  .skills {
    flex-direction: column;
    justify-content: center;
    margin-left: -40px
  }
}

.skill{
   background-color: grey;
   margin: 0.3rem;
   padding: 0.8rem;
   border-radius: 6%;
   color: white
}
