

/* Header */
.header {
  background-color: black;
  display: flex;
  margin: 10px auto;
  width: 50%;
  padding: 2rem;
  border-radius: 3%;
  opacity: 0.9;
  color: white;
  margin-bottom: 20px;
}

/* foto */
.bts{
display: flex;
justify-content:space-around;
padding: 10%;
margin-bottom: -300px;
}
.foto-perfil:hover{
-moz-transform: scaleX(-1); /* Firefox */
-o-transform: scaleX(-1); /* Opera */
-webkit-transform: scaleX(-1); /* Chrome y Safari */
transform: scaleX(-1); /* w3org */

}
.foto-perfil{
  border-radius: 80%;
  width: 18%;
  display: flex;
  margin: 10px auto;
  margin-top: -20px;
  margin-bottom: -650px;
}

/* cardInfo */
.cardInfo {
  background-color: black;
  width: 18%;
  height: 420px;
  padding: 2rem;
  border-radius: 3%;
  box-shadow: 10px 5px 5px black;
  opacity: 0.9;
  color: white;
  font-size: 20px;
  margin-left: 16px;
  margin-top: -200px

}

/* enlaces */
.enlaces{
  display:flex;
  justify-content: space-around;
  background-color: black;
  margin-left:auto;
  margin-right: 20px;
  width: 18%;
  padding: 2rem;
  border-radius: 3%;
  box-shadow: 10px 5px 5px black;
  opacity: 0.9;
  color: white;
  font-size: 5px;
  margin-top: 280px

}
.enlaces2{
  padding-left: 14px;

}


@media screen and (max-width:770px) {
  .header {
    width: 90%;
    align-items: flex-end;
    height: 90px;
    padding: 0.5rem;
    margin-bottom:17%
  }
}
@media screen and (max-width:770px) {
  .foto-perfil {
    margin: 10px auto;
    width: 26%;
    margin-bottom: 2px;
  }
}

/* Botones */
@media screen and (max-width:770px) {
  .bts {
    display: flex;
    justify-content:space-around;
    padding: 16%;
  }
}
@media screen and (max-width:770px) {
  .enlaces2 {
  padding-left: 80px
  }
}

@media screen and (max-width:770px) {
  .enlaces {
      display: none;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      box-shadow: 1px 1px 1px transparent;
      width: 100%;
      padding: 10%
  }
}


@media screen and (max-width:770px) {
  .nameH {
display: none;
  }
}
@media screen and (max-width:770px) {
  .job {
    font-size: 24px;
    margin-left: 3px;
    margin-right:4px;
    margin-top: 4px;
  }
}
@media screen and (max-width:770px) {
  .cardInfo {
    width: 290px;
    height: 180px;
    margin: 10px auto;
    font-size: 14px;
    margin-top: 140px
  }
}
